.button-container {
  background-color: #b72828;
  padding: 20px;
  width: max-content;
    margin-top: 10px;
  cursor: pointer;
  transition: 200ms ease-out;
  animation-duration: 2ms;
}

.button-container:hover {
  background-color: #b72828;
  padding: 20px;
  width: fit-content;
  cursor: pointer;
  box-shadow: -5px 5px #b728285f;
  transform: translateX(5px) translateY(-5px);
}
