.social-links{
    display: flex;
    align-items: center;
    margin: 5px 0px 10px 15px;
  
  
  }
  
  .social-icons{
    padding: 0px 20px 0 0;
    cursor: pointer;
    transition: 200ms ease-out;
    animation-duration: 2ms;
  }
  
  .social-icons:hover{
    padding: 0px 20px 0 0;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .contact-details{
    bottom: 2vh;
    left: 5vw;
    position: fixed;
  }