/* Web  */
@media only screen and (min-width: 1150px) {
  .home-container {
    position: absolute;
    display: flex;
    left: 22vw;
    top: 200px;
  }
  .home-image-container {
    height: 500px;
    width: 100%;
    margin-right: 60px;
    
  }

  .into-details{
    position: relative;
    top: 0vh;
    text-align: left;
  }
}

/* Mobile  */
@media only screen and (max-width: 1150px) {
  .home-container {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;

  }
  .home-image-container {
   
    height: auto;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .intro-details{
    text-align: left;
    margin: 20px 0px;
    width: 80%;
  }
}
