@media screen and (min-width: 1100px){
    .project-layout-container{
        width: 90%;
        height: auto;
    }

    .project-layout-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

    }

    .project-layout-image{
        flex: 1;
        margin: auto;
        width: 50%;
    }

    .project-logo{
        flex: 1;
        margin: auto;
        width: 50%;
    }
    
}
@media screen and (max-width: 1100px){
    .project-layout-container{
        width: 90vw;
        display: flex;
        flex-direction: column;
        
    }
    
    .project-layout-media {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        height: 60vh;
    }

    .project-layout-image{
        flex: 2;
        margin: auto;
        width: 100%;
    }

    .project-logo{
        flex: 1;
        margin: auto;
        height: 50px;
        align-items: center;
    }
}
